*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
  }

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #181818;
    background-color: hsl(234, 29%, 20%);
    padding: 4rem;
    overflow-x: hidden;
}

main {
    width: 65%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.3rem;
}

.imageSvg {
    background-size: cover;
    background-position: center;
    background-image: url("./assets/images/illustration-sign-up-desktop.svg");
    border-radius: 1.5rem;
    flex: 1 20%;
}

.content {
    padding: 4.5rem;
    flex: 2;
}

h1 {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: hsl(234, 29%, 20%);
}

p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    font-weight: 500;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
} 

.item-container li {
    font-weight: 500;
}
.item-container:not(:last-child) {
    margin-bottom: 1rem;
}
  
.item-container .icon {
    width: 1.5rem;
    height: 1.5rem;
}
  
ul {
    list-style: none;
}
  
.newsletter-form {
    margin-top: 40px;
}

.newsletter-form label {
    font-size: 15px;
    color: hsl(234, 29%, 20%);
    line-height: .3;
    font-weight: 700;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error-msg {
    line-height: .3;
    font-size: 14px;
    color: #ff2851;
    display: none;
    font-weight: 500;
}

input {
    margin-top: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    color: black;
    font-weight: 500;
    transition: .4s;
}

input:focus {
    outline: none; 
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

input::placeholder {
    color: hsl(231, 7%, 60%);
    font-weight: 500;
}

input, button {
    width: 95%;
    padding: 15px;
    border-radius: 6px;  
}

button {
    margin-top: 19px;
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    user-select: none;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(255, 98, 87, 0.7);
    background-color: hsl(4, 100%, 67%);
}

button:active {
    transform: scale(0.95);
}


@media screen and (max-width: 1270px) {
    .content {
        padding: 1.5rem;
    }

    main {
        width: 85%;
    }
}

@media screen and (max-width: 918px) {
    html {
        font-size: 55%;
    }
    main {
        width: 100%;
    }
}

@media screen and (max-width: 646px) {
    body {
        padding: 0;
    }
    .img-container {
        flex-basis: 10%;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: white;
    }

    main {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }

    .imageSvg {
        min-height: 30rem;
        order: -1;
        background-image: url("./assets/images/illustration-sign-up-mobile.svg");
        border-radius: 0 0 2rem 2rem;
    }
  
    h1 {
        font-size: 5rem;
    }
 
    input, button {
        width: 85%;
    }
}

@media (min-width: 1024px) {
    .error-msg {
        margin-left: 100px;
    }
    
}

@media (min-width: 768px) {
    .error-msg {
        margin-left: 90px;
    }
}



/* appreciation page */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 45px;
    width: 430px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.3) -4px 9px 25px -6px;
    border-radius: 20px;
    padding: 50px 45px;
}

.hide {
    display: none;
}

section img {
    height: 50px;
    width: 50px;
}

section h1 {
    padding-top: 25px;
    color: hsl(235, 18%, 26%);
    font-size: 45px;
    letter-spacing: .2px;
    line-height: 1;

}

section p {
    font-size: 15px;
    color: hsl(235, 18%, 26%);
    font-weight: 400;
    padding-top: 20px;
    width: 350px;
}

section p span {
    font-weight: 600;
}

.btn {
    margin-top: 24px;
    width: 100%;
    padding: 17px;
    font-family: "Roboto", sans-serif;
}


@media (max-width: 425px) {
    main {
        margin-top: 0;
    }

    section {
        width: 100%;
        border-radius: none;
        box-shadow: none;
        padding-left: 31px;
        margin-top: 0;
    }

    section img {
        height: 70px;
        width: 70px;
    }

    section p {
        padding-top: 32px;
        width: 100%;
        font-size: 16px;
    }

    .btn {
        margin-top: 240px;
    }

}

@media (max-width: 320px) {

    .btn {
        margin-top: 220px;
    }
}